body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#gui {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 1em;
}

#tog-btn {
	position: fixed;
	z-index: 2;
	top: 1em;
	right: 1em;
}

.class-config {
	margin-top: 1em;
}
